/*#register,#log{
    width: 500px;
    padding: 20px 5px 15px 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }*/
  
  form label, form input {
    display: block;
    width: 90%;
  }
  
  form input {

    border-bottom: 2px solid springgreen;
    border-width: 0px 0px 2px 0px;
  
  }
  
  .button {
    background-color:#3ac162;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px 12px 15px;
    color: #ffffff;
    border-radius: 20px;
    
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  .reg{ 
    display:flex;
    justify-content:center;
    align-items: center;
  }
